#working{
    .line{
        border-top: 2px dashed black;
    }
    .golden_yellow{
        color: $sgolden_yellow;
    }
    h3{
        font-family: 'oswald-b';
        font-size: 1.5em;
        margin: 30px;
    }
}